// Height 75vh is a default value, will just work if not overwriting below.
@mixin backImage($image, $height: 80vh) {
  background: url($image);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: $height;
}

@mixin clearfix {
  &:before,
  &:after {
    clear: both;
  }
}

// Image Grid
@mixin imageGrid ($qty, $margin) {
  width: ((100% - (($qty - 1) * $margin)) / $qty);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  // Using the qty here to get only the last item in the group
  &:nth-child(#{$qty}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

// MEDIA QUERIES
// Changed to use an array.
// Using something like $args... means it will have any number of values.
// Could also mix some more like break ($first, &second, $args...).
// Could also use the else below instead of 'if' again.
@mixin break ($args...) {
  @if length($args) == 1 {
    @media (min-width: nth($args, 1)) {
      @content;
    }
  }
  @if length($args) == 2 {
    @media (min-width: nth($args, 1))
    and (max-width: nth($args, 2)){
      @content;
    }
  }
}