// VARIABLES

// Colors
$indigo300: #7986cb;
$indigo500: #3f51b5;
$indigo900: #1a237e;
$clr-lblue-500: #03a9f4;
$primaryFontC: #f5f5f5;
$secondaryFLight: #dce775;
$secondaryFDark: #c0ca33;
$clr-btn-text: whitesmoke;
$clr-btn-default:#e0e0e0;
$clr-btn-success: #66bb6a;
$clr-btn-danger: #f44336;
$clr-btn-info: #1976d2;
$clr-btn-disabled: #455a64;

// Extra Font
$font-amatic: 'Amatic SC', cursive;
$font-code: 'Source Code Pro', monospace;

// Font-weight
$font-medium: 500;
$font-strong: 700;

// Interface
// The $roundness below is used to demonstrate a variable that is an Array in SASS.
$roundness: 20px 0 20px 0;
// It is used in the main file, for the "img" inside the grid - Line 145.