/* PARTIALS */
@import '_variables';
@import '_base';
@import '_mixins';

/*! SASS Comment <- This one is marked as Must appear.  */
// Single line comments like this never appear on the CSS after the convertion.
// Even in the expanded mode!
main {
  margin: 1rem 10%;
  section {
    article {
      p:nth-of-type(2) {
        font-weight: $font-medium;
      }
      p:nth-of-type(3) {
        font-weight: $font-strong;
      }
    }
  }
}

section {
  margin: 2.5rem 1rem;
}

h1 {
  color: $secondaryFLight;
}
h2 {
  color: $secondaryFDark;
  border-bottom: 2px solid $secondaryFDark;
  padding-bottom: 0.5rem;
}

header {
  margin: 2rem;
}

.nesting {
  margin: 1rem;
  padding: 1rem;
  background-color: $indigo300;
  h3 {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .media {
    margin-left: 1rem;
    list-style-type: none;
    img {
      float: left;
      margin: 2rem;
      border: 2px solid $primaryFontC;
    }
    .item {
      margin: 0 2rem 3rem 0;
      border-top: 1px dotted $primaryFontC;
      a {
        text-decoration: none;
        color: $primaryFontC;
      }
      // Use referencing:
      &:last-of-type {
        border-bottom: 1px dotted $primaryFontC;
      }
      @include clearfix;
    }
  }
}

/* MIXINS */
// Import the mixin - use include
.placeOne {
  @include backImage('../img/vancouver.webp');
  padding: 1rem;
  h3 {
    font-size: 2rem;
    font-weight: $font-medium;
  }
}

.placeTwo {
  @include backImage('../img/toronto.webp', 400px);
  padding: 1rem;
  h3 {
    font-size: 2rem;
    font-weight: $font-medium;
  }
}

/* EXTENDS: Use a base class for an extend for another Class */
/* We will also use referencing. With &:hover */
// Base class
%btn-small {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  user-select: none;
  font-weight: $font-strong;
  color: $clr-btn-text;
  // Referencing parent selectors:
  &:hover {
    box-shadow: 2px 2px 4px 2px rgba(140,140,140,1);
  }
}

// Extending - Check the HTML, there is no need for btn-small in all buttons
.btn-small {
  @extend %btn-small;
  background: $clr-btn-default;
}
.btn-success {
  @extend %btn-small;
  background: $clr-btn-success;
}
.btn-danger {
  @extend %btn-small;
  background: $clr-btn-danger;
}
.btn-info {
  @extend %btn-small;
  background: $clr-btn-info;
}
.btn-disabled {
  @extend %btn-small;
  background: $clr-btn-disabled;
}

// Image grid - mixins in the _mixins file
.grid {
  @include clearfix;
  .item {
    float: left;
    @include imageGrid(3, 1%);
  }
  img {
    display: block;
    border-radius: 10px;
    max-width: 100%;
  }
}

// SASS Color modifying - A SASS feature. Look below.
.mathSass {
  clear: both;
  margin-top: 3rem;
  .table {
    width: 100%;
    caption {
      font-size: 1.6rem;
      padding-bottom: 0.6rem;
    }
    > thead, tbody {
      padding: 0.5rem;
      font-weight: 500;
      > tr {
        > th, td {
          font-weight: 400;
          padding: 0.5rem;
          border-bottom: 1px solid $clr-lblue-500;
        }
      }
    }
    > thead > tr {
      background: $primaryFontC;
      color: $indigo900;
      > th {
        font-weight: $font-strong;
      }
      &:hover {
        // The Sass complement feature to change the color. Inverts the color below
        background: complement($color: #006fd6);
      }
    }
  }
}